@import "../../styles/base";

.buttonswitchgame {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background: $yellow;
  margin: 2px 0;
  cursor: pointer;
  &:hover {
    background: #e6ad00;
  }
  &__activeGame {
    color: white;
  }
}