@import "../../styles/base";

.buttonswitchgame {
  @include button-secondary;
  width: 100px;
  background: black;
  border: 2px solid $yellow;
  color: $yellow;
  cursor: pointer;
  &:hover, &__activeGame {
    background: $yellow;
    color: black;
  }
}