@import "../../styles/base";

@keyframes modal-door-enter {
  from {
    transform: scale3d(0, 1, 1);
  }
}

@keyframes modal-door-leave {
  60% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0, 1, 0.1);
    transform: scale3d(0, 1, 0.1);
  }
}

.ReactModal__Content {
  position: absolute !important;
  padding: 0 !important;
  top: 40% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: #1358db !important;
  cursor: pointer;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  animation: modal-door-enter 1s cubic-bezier(0.4, 0, 0, 1.5);
  &--closed {
    animation: modal-door-leave 1s cubic-bezier(0.4, 0, 0, 1.5);
  }
}

.cardmodal{
  @include flex-center-column;
  position: relative;
  height: 400px;
  width: 600px;
  &__image {
    position: absolute;
    // --- for rally logo
    bottom: 20px;
    right: 20px;
    width: 75px;
    // --- for default logo
    // bottom: 0px;
    // right: 0px;
    // width: 100px;
    // height: 100px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
      transform: scale(0.9);
    }
  }
  &__text {
    &--points {
      font-family: "Swiss911";
      font-size: 200px;
      text-shadow: 3px 4px $black;
    }
    &--qa {
      font-family: "Korinna";
      font-size: 40px;
      text-align: center;
      padding: 4%;
    }
    &--completed {
      @extend .cardmodal__text--qa;
      color: darkslategray;
    }
  }
  &__points {
    position: absolute;
    font-family: "Korinna";
    font-size: 30px;
    top: 20px;
    left: 20px;
    opacity: 50%;
  }
  &__dailydouble {
    height: 400px;
    width: 600px;
    overflow: hidden;
  }
}