@import "../../styles/base";

.cardmodal{
  @include flex-center-column;
  position: relative;
  height: 400px;
  width: 600px;
  &__image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}