@font-face {
  font-family: "Jeopardy";
  src: url("../assets/fonts/jeopardy/jeopardy/gyparody.ttf") format("truetype");
}

@font-face {
  font-family: "Swiss911";
  src: url("../assets/fonts/swiss911/swiss-911-extra-compr9c22f.ttf") format("truetype");
}

@font-face {
  font-family: "Korinna";
  src: url("../assets/fonts/korinna-bt/korinan.ttf") format("truetype");
}