@import "./variables";
@import "./fontface";

@mixin mobile {
  @media screen and (min-width: $mobile){
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop){
    @content;
  }
}

@mixin lg-desktop {
  @media screen and (min-width: $lg-desktop){
    @content;
  }
}

@mixin link-reset {
  list-style-type: none;
  text-decoration: none;
  color: $white;
}

// mobile font
@mixin mb-text-1 {
  font-size: $mb-h1;
  line-height: $mb-lh-h1;
}

@mixin mb-text-2 {
  font-size: $mb-h2;
  line-height: $mb-lh-h2;
}

@mixin mb-text-3 {
  font-size: $mb-h3;
  line-height: $mb-lh-h3;
}

@mixin mb-text-4 {
  font-size: $mb-h4;
  line-height: $mb-lh-h4;
}

@mixin mb-text-5 {
  font-size: $mb-h5;
  line-height: $mb-lh-h5;
}

@mixin mb-text-6 {
  font-size: $h6;
  line-height: $lh-h6;
}

@mixin mb-text-7 {
  font-size: $h7;
  line-height: $lh-h7;
}

@mixin mb-header-lg {
  font-size: $mb-header-lg;
}

@mixin text-1 {
  font-size: $h1;
  line-height: $lh-h1;
}

@mixin front-card-text {
  font-family: "Swiss911";
  text-shadow: 3px 4px $black;
  color: $yellow;
  font-size: $h2;
  line-height: $lh-h2;
}

@mixin category-text{
  font-family: Helvetica;
  font-weight: 700;
  color: $white;
  font-size: $h4;
  line-height: $lh-h3;
}

@mixin text-4 {
  font-size: $h4;
  line-height: $lh-h4;
}

@mixin text-5 {
  font-size: $h5;
  line-height: $lh-h5;
}

@mixin text-6 {
  font-size: $h6;
  line-height: $lh-h6;
}

// flex 
@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// card style 
@mixin card {
  background: $brainstation-blue;
  border: 1px solid black;
  border-radius: 5px;
}

// button
@mixin button-reset {
  border: none;
  box-shadow: none;
  outline: none;
}

@mixin button-secondary {
  height: 40px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  margin: 2px 0;
  padding: 0 8px;
}

//keyframe

@keyframes modal-door-enter {
  from {
    transform: scale3d(0, 1, 1);
  }
}

@keyframes rainbow-font {
  0%     { color: #ff0000; }
8.333%     { color: #ff8000; }
16.667%     { color: #ffff00; }
25.000%     { color: #80ff00; }
33.333%     { color: #00ff00; }
41.667%     { color: #00ff80; }
50.000%     { color: #00ffff; }
58.333%     { color: #0080ff; }
66.667%     { color: #0000ff; }
75.000%     { color: #8000ff; }
83.333%     { color: #ff00ff; }
91.667%     { color: #ff0080; }
100.00%     { color: #ff0000; }
}