// colors
$black: #000;
$grey: #AFAFAF;
$light-grey: #E1E1E1;
$off-white: #FAFAFA;
$white: #FFF;
$brainstation-blue: #1358db;
$yellow:#ffc000;

// display breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$lg-desktop: 1440px;

// mobile font
$mb-h1: 1.5rem;
$mb-h2: 1.4rem;
$mb-h3: 1.21rem;
$mb-h4: 1.09rem;
$mb-h5: 0.9rem;
$mb-header-lg: 2.75rem;

$mb-lh-h1: 32px;
$mb-lh-h2: 22px;
$mb-lh-h3: 23px;
$mb-lh-h4: 18px;
$mb-lh-h5: 20px;

// tablet and desktop font
$h1: 5rem;
$h2: 4rem;
$h3: 1.5rem;
$h4: 1.0rem;
$h5: 0.9rem;
$h6: 0.85rem;
$h7: 0.754rem;

$lh-h1: 48px;
$lh-h2: 32px;
$lh-h3: 22px;
$lh-h4: 22px;
$lh-h5: 20px;
$lh-h6: 20px;
$lh-h7: 18px;

// spacing for margins and padding
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-top: 32px;
$spacing-med: 24px;
$spacing-lg: 40px;
$spacing-xl: 60px;

// spacing for desktop 
$dt-spacing-lg: 48px;
$dt-spacing-xl: 56px;
$dt-spacing-xxl: 64px;
