@import "../../styles/base";

.category {
  position: relative;
  @include flex-center-column;
  &__name-wrap{
    @include flex-center;
    @include card;
    @include category-text;
    text-transform: uppercase;
    width: 150px;
    height: 100px;
  }
  &__name {
    text-align: center;
  }
  &__name-img {
    // width: 70%;
    // height: 60%;
    width: 100px;
    height: 85px;
    object-fit: cover;
  }
}