@import "../../styles/base";

.category {
  @include flex-center-column;
  &__name-wrap{
    @include flex-center;
    @include card;
    @include category-text;
    text-transform: uppercase;
    width: 150px;
    height: 100px;
  }
  &__name {
    text-align: center;
  }
}