@import "../../styles/base";

.category {
  position: relative;
  @include flex-center-column;
  cursor: pointer;
  &__name-wrap{
    @include flex-center;
    @include card;
    @include category-text;
    text-transform: uppercase;
    width: 150px;
    height: 100px;
    @include desktop {
      // made cards wider to fit logo
      width: 175px;
    }
  }
  &__name {
    text-align: center;
    &--flipped {
      font-size: 20px;
      @include desktop {
        font-size: 24px;
      }
    }
  }
  &__name-img {
    // width below for rally logo
    // width: 120px;
    // width and margin below for beer
    width: 80px;
    margin-left: 12px;
    // width: 100px;
    height: 85px;
    // object-fit: cover;
  }
}