@import "../../styles/base";

.card {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
}

.card--front {
  @include front-card-text;
  @include card;
}