@import "../../styles/base";

.teamscore { 
  @include flex-center-column;
  margin-bottom: 4%;
  width: 200px;
  &__heading {
    font-size: 20px;
  }
  &__name-wrap {
    display: flex;
    flex-direction: column;
  }
  &__name-label {
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    margin-bottom: $spacing-sm;
  }
  &__name-input {
    height: 24px;
    width: 150px;
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 5px;
    outline: $yellow;
    border: none;
  }
  &__customName {
    font-family: "Roboto";
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    // word-break: break-all;
    &:hover {
      cursor: pointer;
    }
  }
  &__button {
    font-family: "Roboto";
    font-weight: 700;
    height: 24px;
    width: 40px;
    background-color: $yellow;
    border-radius: 5px;
  }
  &__score {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    background-color: $brainstation-blue;
    border-radius: 5px;
    margin: $spacing-sm 0;
    text-align: center;
  }
  &__score-input {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    width: 120px;
    height: 35px;
    padding-left: 5px;
    text-align: center;
    outline: $yellow;
    border-radius: 5px;
    border: none;
  }
  &__score-input-wrap {
    @include flex-center;
    justify-content: space-between;
    width: 200px;
  }
  &__score-button {
    @include flex-center;
    font-family: "Roboto";
    min-width: 30px;
    min-height: 35px;
    background-color: $yellow;
    border-radius: 5px;
  }
  &__score-button-text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}