@import "./styles/base";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: $white;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}

::-webkit-scrollbar-thumb {
  background: black; 
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
}

// button reset
button {
  @include button-reset;
  cursor: pointer;
}

.app {
  @include flex-center-column;
  padding-bottom: $spacing-xl;
  &__heading-wrap {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  &__heading {
    font-size: 4.5rem;
    font-family: "Jeopardy";
    color: $white;
    text-align: center;
    margin: $spacing-med 0;
    cursor: pointer;
    & span:nth-of-type(even){
      color:green;
    }
    & span:nth-of-type(odd){
      color:red;
    }
    &--active {
      // animation: rainbow-font 1s 0.5s infinite;
      animation: xmas-font 4s 0.5s infinite;
    }
  }
  &__snowControl {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    margin: 10px;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  &__gif {
    display: none;

    &-visible {
      display: unset;
      position: absolute;
      overflow-x: hidden;
      z-index: 10;
      right: -480px;
      
      animation: rightToLeft 15s 1s ease-in infinite;
    }
  }
  &__heading-img {
    // height: 110px;
    width: 110px;
    object-fit: cover;
    margin-right: 16px;
  }
  &__cards {
    display: flex;
    justify-content: space-around;
  }
  &__games {
    display: flex;
    justify-content: center;
  }
  &__button-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: space-around;
    @include desktop {
      height: 100px;
      width: 750px;
      width: 80vw;
    }
  }
  &__button-finaljep {
    @include button-secondary;
    padding: 0 $spacing-sm;
    background-color: $brainstation-blue;
    color: white;
    margin-top: $spacing-med;
  }
}