@import "./styles/base";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: $white;
}

// button reset
button {
  @include button-reset;
  cursor: pointer;
}

.app {
  @include flex-center-column;
  padding-bottom: $spacing-xl;
  &__heading {
    font-size: 4.5rem;
    font-family: "Jeopardy";
    color: $white;
    text-align: center;
    margin: $spacing-med 0;
  }
  &__cards {
    display: flex;
    justify-content: space-around;
  }
}